{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container py-4">
  <div class="row">
    <div class="col">
<div class="form-floating my-2">
    {{ user_form.username }}
  <label for="{{ user_form.username.id_for_label }}">Пользователь</label>
</div>
<div class="form-floating">
    {{ user_form.email }}
  <label for="{{ user_form.email.id_for_label }}">Email</label>
</div>
<form action="{% url 'myaccount' %}" method="post">
  {% csrf_token %}
<div class="form-floating my-2">
    {{ profile_form.telegram_id }}
  <label for="{{ profile_form.telegram_id.id_for_label }}">Telegram</label>
</div>
<button class="w-30 btn btn btn-success my-2" type="submit">Сохранить</button>

</form>
<p>
  <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    QR бота Телеграм
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <a href="https://t.me/TutorPlanBot">
    <div class="card card-body" style="width: 300px;">
      <img src="{% static 'main/image/telegram.png' %}" class="rounded float-start" alt="...">
      </div></a>
  </div>
</div>
</div>
<div class="col-md">
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">Мои ученики</li>
  {% for student in students %}
  <a href="{% url 'student' pk=student.id %}" class="list-group-item list-group-item-action">{{student}}</a>
  {% endfor %}
</ul>
</div>
{% endblock content %}
