{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap-icons.css' %}">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css'	rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css'	rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js'	rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'	rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'	rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js'	rel="stylesheet">
    {% endblock css %}
    <title>{{ title }}</title>
  </head>


  <body>




  {% block content %}
  {% endblock content %}

</body>
</html>