{% extends "main/base.html" %}
{% block content %}
<h5 class="my-2">{{student}}</h5>
<form action="{% url 'student' pk=student.id  %}" method="post">
  {% csrf_token %}
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Заметки о ученике</label>
    <textarea class="form-control" name='description' id="exampleFormControlTextarea1" rows="3">{{student.description}}</textarea>
  </div>
  <button class="btn btn-primary" type="submit">Сохранить</button>
  <a href="{% url 'myaccount' %}"><button type="button" class="btn btn-primary">Назад</button></a>
  </form>
{% endblock content %}