{% load static %}
    <link href="{% static 'main/calendar/lib/main.css' %}" rel='stylesheet' />
    <script src="{% static 'main/calendar/lib/main.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locales: 'ru',
            themeSystem: 'bootstrap5',
            timeZone: 'UTC+3',
            events: {{lessons|safe}},
            editable: true,
            selectable: true,
            contentHeight: 450,
        });
        calendar.render();
      });
    </script>
    <div id='calendar'></div>
