{% extends 'main/base.html' %}
{% block content %}
<form action="{% url 'calendar:event' pk=event.id  %}" method="post">
    {% csrf_token %}
    <div class="mb-3 row my-4">
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example" value="{{event.title}} {{event.start}}" readonly>

   
        <div class="form-check form-switch my-4">
            {{form.paid}}
            <label class="form-check-label" for="flexSwitchCheckDefault">Оплачено</label>
          </div>
    </div>
    <button class="btn btn-primary" type="submit">Сохранить</button>
    <a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn btn-primary">Назад</button></a>

</form>
{% endblock content %}